@{
    ViewData["Title"] = "404";
}
Default
<br />
<button type="button" class="btn btn-primary" id="showtoast">显示Toast</button>
<button type="button" class="btn btn-primary" id="showloading">显示loading</button>
<button type="button" class="btn btn-primary" id="hideloading">隐藏loading</button>



@section scripts
    {
    <script>
        $(document).ready(function () {
            $('#showtoast').click(function () {
                //toastr.success("这是一个success toastr");
                //toastr.info("这是一个info toastr");
                //toastr.warning("这是一个Warning toastr");
                toastr.error("这是一个error toastr");
            })

            $('#showloading').click(function () {
                showLoading();
                setTimeout(function () {
                    hideLoading();
                }, 3000);
            })

            $('#hideloading').click(function () {
                hideLoading();
            })
        });

    </script>
}