@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div id="wrapper">
        <!--左侧导航开始-->
        @await Html.PartialAsync("_Navigation")
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            @await Html.PartialAsync("_Header")
            @await Html.PartialAsync("_MenuTab")
            <div class="row J_mainContent" id="content-main">
                <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="/Home/Welcome" frameborder="0" seamless></iframe>
            </div>
            @await Html.PartialAsync("_Footer")
        </div>
        <!--右侧部分结束-->
        <!--右侧边栏开始-->
        @await  Html.PartialAsync("_RightSidebar")
        <!--右侧边栏结束-->
    </div>
    <script>
        var viewModel = function () {
            return {
                init: function () {
                    this.initPage();
                },
                methods: {
                    loadModules: function () {
                        var html = '';
                        _.get(
                            '@Focus.Infrastructure.AppSetting.ApiUrl/api/Module',null,
                            function (data) {
                                for (var i = 0; i < data.data.length; i++) {
                                    html += '<li><a href="#"><i class="' + data.data[i].icon.trim() + '"></i><span class="nav-label">' + data.data[i].name.trim() + '</span><span class="fa arrow"></span></a>';
                                    for (var j = 0; j < data.data[i].children.length; j++) {
                                        if (j == 0) {
                                            html += '<ul class="nav nav-second-level">';
                                        }
                                        html += '<li><a class="J_menuItem" href="' + data.data[i].children[j].url + '">' + data.data[i].children[j].name + '</a></li>';
                                        if (j == data.data[i].children.length - 1) {
                                            html += '</ul>';
                                        }
                                    }
                                    html += '</li>';
                                }
                                $('#side-menu').append(html);
                                //折叠菜单
                                $('#side-menu').metisMenu();
                            }
                        )
                    }
                },
                initPage: function () {
                    var methods = this.methods;
                    methods.loadModules();
                }
            }
        }();
        window.onload = function () {
            viewModel.init();
        }
    </script>
</body>