
@{
    ViewData["Title"] = "Welcome";
}

<h2>Welcome</h2>
@section scripts{
    <script>
        $(function () {
            @*_.get('@Focus.Infrastructure.AppSetting.ApiUrl/api/Module', null, function (response) {
                alert(JSON.stringify(response));
            });*@
        });
    </script>
}
