<div class="modal inmodal fade" id="buttonDetailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">按钮管理</h4>
            </div>
            <div class="modal-body">
                <div class="btn-group hidden-xs" id="tableEventsToolbar" role="group">
                    <button type="button" class="btn btn-outline btn-default" id="btnAddButton">
                        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-outline btn-default" id="btnUpdateButton">
                        <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-outline btn-default" id="btnDeleteButton">
                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                    </button>
                </div>
                <table id="bootstrapTable" data-mobile-responsive="true"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
