<div class="dropdown profile-element">
    <span><img alt="image" class="img-circle" src="~/images/profile_small.jpg" /></span>
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <span class="clear">
            <span class="block m-t-xs" id="account"><strong class="font-bold"></strong></span>
            <span class="text-muted text-xs block" id="role"><b class="caret"></b></span>
        </span>
    </a>
    <ul class="dropdown-menu animated fadeInRight m-t-xs">
        <li>
            <a class="J_menuItem" href="profile.html">个人资料</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="login.html">安全退出</a>
        </li>
    </ul>
</div>