<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="m-b-md">
                            <a href="" class="text-navy pull-right" id="website">网址</a>
                            <h2 id="fullName"></h2>
                        </div>
                        <dl class="dl-horizontal">
                            <dt>简称：</dt>
                            <dd><span id="shortName"></span></dd>
                        </dl>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <dl class="dl-horizontal">
                            <dt>公司性质：</dt>
                            <dd id="nature"></dd>
                            <dt>创建人：</dt>
                            <dd id="creator"></dd>
                            <dt>联系人：</dt>
                            <dd id="contact"></dd>
                            <dt>邮箱：</dt>
                            <dd class="text-navy" id="email"></dd>
                        </dl>
                    </div>
                    <div class="col-sm-6">
                        <dl class="dl-horizontal">
                            <dt>手机：</dt>
                            <dd id="mobile"></dd>
                            <dt>电话：</dt>
                            <dd id="phone"></dd>
                            <dt>创建时间：</dt>
                            <dd id="createdTime"></dd>
                            <dt>地址：</dt>
                            <dd id="address"></dd>
                        </dl>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>公司描述</dt>
                            <dd id="description"></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>