
@{
    ViewData["Title"] = "内容编辑";
}
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content">
                    <form class="form-horizontal" id="articleForm">
                        <div class="form-group hidden">
                            <label class="col-sm-1 control-label">Id：</label>
                            <div class="col-sm-10">
                                <input id="id" type="text" class="form-control" name="id" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">分类：</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="category" id="category">
                                    <option value=1>网站公告</option>
                                    <option value=2>新闻中心</option>
                                    <option value=3>培训资料</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">标题：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="" id="title" name="title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">有效：</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="enabled" id="enabled">
                                    <option value='true'>是</option>
                                    <option value='false'>否</option>
                                </select>
                            </div>
                        </div>
                        <div class="summernote" id="content">
                        </div>
                        <hr />
                        <div class="pull-right">
                            <label>
                                <input type="checkbox" class="i-checks" id="isTop">是否置顶
                            </label>
                            <a class="btn btn-danger btn-sm" id="btnCancel"><i class="fa fa-times"></i> 取消</a>
                            <a class="btn btn-primary btn-sm" id="btnSubmit"><i class="fa fa-pencil"></i> 保存</a>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var viewModel = function () {
            return {
                init: function () {
                    this.initPage();
                    this.bindEvents();
                },
                methods: {
                    initSummernote: function () {
                        $(".summernote").summernote({
                            lang: "zh-CN",
                            height: 300
                        });
                    },
                    getArticle: function (id) {
                        if (_.isEmpty(id))
                            return;
                        _.get(apiUrl + '/api/Article/' + id, function (data) {
                            $('#articleForm').formSerialize(data.data);
                            $('.summernote').code(data.data.content);
                            if (data.data.isTop) {
                                $('#isTop').iCheck('check');
                            } else {
                                $('#isTop').iCheck('uncheck');
                            }
                            $('#isTop').iCheck({
                                checkboxClass: 'icheckbox_square-green',
                                radioClass: 'iradio_square-green',
                            });
                        });
                    }
                },
                initPage: function () {
                    var methods = this.methods;
                    methods.initSummernote();
                    methods.getArticle(request('id'));
                },
                bindEvents: function () {
                    $('#btnCancel').click(function () {
                        swal({
                            title: "是否确定取消？",
                            text: "取消后将无法恢复，请谨慎操作！",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "确定",
                            cancelButtonText: "关闭",
                            closeOnConfirm: false
                        }, function () {
                            window.history.go(-1);
                        });
                    });

                    $('#btnSubmit').click(function () {
                        _.post(apiUrl + '/api/Article/AddOrUpdate',
                            {
                                id: $('#id').val(),
                                category: $('#category').val(),
                                title: $('#title').val(),
                                enabled: $('#enabled').val(),
                                content: $(".summernote").summernote().code(),
                                isTop: $('#isTop').is(':checked')
                            }, function (data) {
                                if (data.code == 0) {
                                    toastr.success(data.message);
                                    window.history.go(-1);
                                } else {
                                    toastr.error(data.message);
                                }
                            });
                    });
                }
            }
        }();
        window.onload = function () {
            viewModel.init();
        }
    </script>
}

