@{
    ViewData["Title"] = "内容管理";
}
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>操作</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" id="buttonList">
                    <button code="article-add" class="btn btn-primary" type="button" id="btnAdd"><i class="fa fa-plus"></i> 添加</button>
                    <button code="article-update" class="btn btn-info" type="button" id="btnUpdate"><i class="fa fa-edit"></i> 修改</button>
                    <button code="article-delete" class="btn btn-danger" type="button" id="btnDelete"><i class="fa fa-close"></i> 删除</button>
                    <button code="article-preview" class="btn btn-white" type="button" id="btnPreview"><i class="fa fa-eye"></i> 预览</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>详情</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table id="bootstrapTable" data-mobile-responsive="true"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("_Preview")
@section scripts{
    <script>
        var viewModel = function () {
            return {
                init: function () {
                    this.initPage();
                    this.bindEvents();
                },
                methods: {
                    bindArticles: function () {
                        $('#bootstrapTable').clientSidePagination({
                            url: apiUrl + '/api/Articles',
                            columns: [
                                {
                                    radio: true
                                }, {
                                    field: 'title',
                                    title: '标题',
                                    sortable: true,
                                }, {
                                    field: 'categoryText',
                                    title: '类别',
                                    sortable: true,
                                }, {
                                    field: 'createdTime',
                                    title: '发布时间',
                                    sortable: true,
                                }, {
                                    field: 'isTop',
                                    title: '是否置顶',
                                    sortable: true,
                                    formatter: function (value, row, index) {
                                        return value ? "<i class=\"fa fa-star text-navy\"></i>" : "";
                                    }
                                }, {
                                    field: 'enabled',
                                    title: '是否有效',
                                    sortable: true,
                                    formatter: function (value, row, index) {
                                        return value ? "<i class=\"fa fa-check text-navy\">有效</i>" : "<i class=\"fa fa-close text-danger\">无效</i>";
                                    }
                                }
                            ]
                        });
                    }
                },
                initPage: function () {
                    var methods = this.methods;
                    $('#bootstrapTable').bootstrapTable();
                    methods.bindArticles();
                },
                bindEvents: function () {
                    var methods = this.methods;

                    $('#btnAdd').click(function () {
                        window.location.href = '/Article/Form';
                    });

                    $('#btnUpdate').click(function () {
                        var selections = $('#bootstrapTable').bootstrapTable('getSelections');
                        if (selections.length <= 0) {
                            toastr.error('请选择要修改的文章');
                            return false;
                        }
                        window.location.href = '/Article/Form?id=' + selections[0].id;
                    });

                    $('#btnDelete').click(function () {
                        var selections = $('#bootstrapTable').bootstrapTable('getSelections');
                        if (selections.length <= 0) {
                            toastr.error('请选择要删除的文章');
                            return false;
                        }
                        swal({
                            title: "是否确定删除？",
                            text: "删除后将无法恢复，请谨慎操作！",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "删除",
                            cancelButtonText: "取消",
                            closeOnConfirm: false
                        }, function () {
                            _.post(apiUrl + '/api/Article/Delete', { id: selections[0].id }, function (data) {
                                if (data.code == 0) {
                                    methods.bindArticles();
                                    swal("删除成功！", "您已经永久删除了这条信息", "success");
                                } else {
                                    toastr.error(data.message);
                                }
                            })
                        });
                    });

                    $('#btnPreview').click(function () {
                        var selections = $('#bootstrapTable').bootstrapTable('getSelections');
                        if (selections.length <= 0) {
                            toastr.error('请选择要预览的文章');
                            return false;
                        }
                        $('#previewModal').modal('show');
                        $('#content').html(selections[0].content);
                    });
                }
            }
        }();
        window.onload = function () {
            viewModel.init();
        }
    </script>
}