<div class="modal inmodal fade" id="detailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">添加角色</h4>
            </div>
            <div class="modal-body">
                <p>
                    这是一个简单的表单向导示例
                </p>
                <div id="wizard">
                    <h1>角色信息</h1>
                    <div class="step-content">
                        <div class="text-center m-t-md">
                            <h2>第一步</h2>
                            <p>
                                这是第一步的内容
                            </p>
                        </div>
                    </div>
                    <h1>模块权限</h1>
                    <div class="step-content">
                        <div class="text-center m-t-md">
                            <h2>第二步</h2>
                            <p>
                                这是第二步的内容
                            </p>
                        </div>
                    </div>
                    <h1>按钮权限</h1>
                    <div class="step-content">
                        <div class="text-center m-t-md">
                            <h2>第三步</h2>
                            <p>
                                这是第三步的内容
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>