@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Focus管理系统</title>
    <link href="~/css/framework-font.css" rel="stylesheet" />
    <link href="~/css/framework-login.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="logo">
                <i class="fa fa-modx"></i>
                <h1><span>Focus</span>管理系统</h1>
            </div>
            <form class="form">
                <div class="row">
                    <input id="account" type="text" placeholder="账号/手机号/邮箱">
                    <i class="fa fa-user"></i>
                </div>
                <div class="row">
                    <input id="password" type="password" placeholder="登录密码">
                    <i class="fa fa-key"></i>
                </div>
                <div class="row">
                    <input id="verificationCode" maxlength="4" type="text" placeholder="验证码" style="width: 190px; float: left;">
                    <div style="width: 110px; float: right; padding-top: 14px; padding-left: 14px;">
                        看不清？<a id="switchCode" href="javascript:void();" style="text-decoration: none;">换一张</a>
                        <img id="codeUrl" class="authcode" src="@Focus.Infrastructure.AppSettings.ApiUrl/api/Account/VerificationCode" width="80" height="25" />
                    </div>
                </div>
                <div class="row">
                    <button id="login" type="button"><span>登录</span></button>
                </div>
                <div class="row">
                </div>
            </form>
            <div class="login_tips"></div>
        </div>
    </div>
    <div class="copyright">
        适用浏览器：IE8以上、360、FireFox、Chrome、Safari、Opera、傲游、搜狗、世界之窗.
    </div>
    <script>
        var viewModel = function () {
            return {
                init: function () {
                    this.initPage();
                    this.initEvents();
                },
                methods: {
                    showLoginMessage: function (message) {
                        $('.login_tips').find('.tips_msg').remove();
                        $('.login_tips').append('<div class="tips_msg"><i class="fa fa-question-circle"></i>' + message + '</div>');
                    },
                    login: function () {
                        var account = $('#account').val();
                        var password = $('#password').val();
                        var verificationCode = $('#verificationCode').val();
                        if (account == '') {
                            this.showLoginMessage('请输入账号/手机号/邮箱');
                            return false;
                        }
                        if (password == '') {
                            this.showLoginMessage('请输入密码');
                            return false;
                        }
                        if (verificationCode == '') {
                            this.showLoginMessage('请输入验证码');
                            return false;
                        }
                        $('#login').attr('disabled', 'disabled').find('span').html('loading...');
                    },
                    getVerificationCode: function () {
                        $("#codeUrl").attr("src", "http://localhost:8001/api/Account/VerificationCode?time=" + Math.random());
                    }

                },
                initPage: function () {
                    $('.wrapper').height($(window).height());
                    $(".container").css("margin-top", ($(window).height() - $(".container").height()) / 2 - 50);
                    $(window).resize(function (e) {
                        $('.wrapper').height($(window).height());
                        $(".container").css("margin-top", ($(window).height() - $(".container").height()) / 2 - 50);
                    });
                },
                initEvents: function () {
                    var methods = this.methods;
                    $("#login").click(function () {
                        methods.login();
                    });
                    $("#switchCode").click(function () {
                        methods.getVerificationCode();
                    });
                }
            }
        }();
        $(function () {
            viewModel.init();
        })
    </script>
</body>
</html>
