@{
    ViewData["Title"] = "Profile";
}
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content">
                    <span class="text-muted small pull-right">创建于：<i class="fa fa-clock-o" id="createdTime"></i></span>
                    <h2>个人资料</h2>
                    <div class="clients-list">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#tab-1"><i class="fa fa-user"></i> 基本信息</a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#tab-2"><i class="fa fa-power-off"></i> 拥有权限</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="full-height-scroll">
                                    <div class="table-responsive">
                                        <div class="ibox-content">
                                            <div class="text-center">
                                                <img alt="image" id="avatar" class="img-circle" src="~/images/profile_small.jpg">
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">账号</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" id="account" disabled="" placeholder="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">姓名</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" id="realName" disabled="" placeholder="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">角色</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" id="role" disabled="" placeholder="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">身份证</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" id="idCard" disabled="" placeholder="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">邮箱</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" id="email" disabled="" placeholder="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">生日</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" id="birthday" disabled="" placeholder="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">手机</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" id="mobile" disabled="" placeholder="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">性别</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" id="gender" disabled="" placeholder="" class="form-control">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane text-center">
                                <div class="full-height-scroll">
                                    <div class="table-responsive">
                                        <fieldset style="overflow-y: auto;">
                                            <div id="jstree"></div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var viewModel = function () {
            return {
                init: function () {
                    this.initPage();
                    this.bindEvents();
                },
                methods: {
                    bindPermissions: function (roleId) {
                        bindJsTree('jstree', apiUrl + '/api/Master/' + roleId + '/Permission', false);
                    },
                    bindProfile: function () {
                        _.get(apiUrl + '/api/User/Detail', function (data) {
                            $('#avatar').attr("src", 'http://localhost:5002/api/User/962fa3fe-d29a-4bc6-b137-62aa90d713e2/Avatar');
                            $('#createdTime').val(data.data.createdTime);
                            $('#account').val(data.data.account);
                            $('#realName').val(data.data.realName);
                            $('#role').val(data.data.role.name);
                            $('#email').val(data.data.email);
                            $('#idCard').val(data.data.idCard);
                            $('#mobile').val(data.data.mobile);
                            $('#birthday').val(data.data.birthday);
                            $('#gender').val(data.data.gender == 1 ? '男' : data.data.gender == 2 ? '女' : '未知');
                        });
                    }
                },
                initPage: function () {
                    var methods = this.methods;
                    methods.bindPermissions();
                    methods.bindProfile();
                },
                bindEvents: function () {
                    
                }
            }
        }();
        window.onload = function () {
            viewModel.init();
        }
    </script>
}
