@{
    ViewData["Title"] = "数据字典";
}

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>数据字典 <small>数据字典类型</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="jstree">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>操作</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <button class="btn btn-primary" type="button" id="btnAdd" data-target="#addDetailModal" data-toggle="modal"><i class="fa fa-plus"></i> 添加</button>
                    <button class="btn btn-info" type="button" id="btnEdit" data-target="#updateDetailModal" data-toggle="modal"><i class="fa fa-edit"></i> 编辑</button>
                    <button class="btn btn-danger" type="button" id="btnDelete"><i class="fa fa-times"></i> 删除</button>
                    <button class="btn btn-success" type="button"><i class="fa fa-search"></i> 查看</button>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>详情</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table id="bootstrapTable" data-mobile-responsive="true"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("_UpdateDetail")
@await Html.PartialAsync("_AddDetail")

@section scripts{
    <script>
        var viewModel = function () {
            return {
                init: function () {
                    this.initPage();
                    this.bindEvents();
                },
                methods: {
                    loadDictionaryTypes: function () {
                        bindJsTree('jstree', apiUrl + '/api/DictionaryTypes');
                    },
                    bindDictionaryDetails: function (typeId) {
                        if (typeId == null) {
                            return false;
                        }
                        $('#bootstrapTable').clientSidePagination({
                            url: apiUrl + '/api/DictionaryType/' + typeId + '/DictionaryDetails',
                            columns: [
                                {
                                    checkbox: true
                                }, {
                                    field: 'id',
                                    title: 'Id',
                                    width: '25%'
                                }, {
                                    field: 'name',
                                    title: '名称',
                                    sortable: true,
                                }, {
                                    field: 'createdTime',
                                    title: '创建时间',
                                    sortable: true,
                                }, {
                                    field: 'sortNumber',
                                    title: '排序码',
                                    sortable: true
                                }, {
                                    field: 'enabled',
                                    title: '是否有效',
                                    sortable: true,
                                    formatter: function (value, row, index) {
                                        return value ? "<i class=\"fa fa-check text-navy\">有效</i>" : "<i class=\"fa fa-close text-danger\">无效</i>";
                                    }
                                }, {
                                    field: 'isDeleted',
                                    title: '是否删除',
                                    sortable: true,
                                    formatter: function (value, row, index) {
                                        return value ? "<i class=\"fa fa-toggle-off text-danger\">已删除</i>" : "<i class=\"fa fa-toggle-on text-navy\">未删除</i>";
                                    }
                                }, {
                                    field: 'deletedTime',
                                    title: '删除时间',
                                    sortable: true,
                                }, {
                                    field: 'remark',
                                    title: '备注'
                                }
                            ]
                        });
                    },
                },
                initPage: function () {
                    var methods = this.methods;
                    methods.loadDictionaryTypes();
                    $('#bootstrapTable').bootstrapTable();
                },
                bindEvents: function () {
                    var methods = this.methods;
                    var id = '';
                    $('#jstree').on("changed.jstree", function (e, data) {
                        id = data.node.id;
                        methods.bindDictionaryDetails(id);
                    });

                    $('#btnEdit').click(function () {
                        var selections = $('#bootstrapTable').bootstrapTable('getSelections');
                        if (selections.length <= 0) {
                            toastr.error('请选择要编辑的数据字典');
                            return false;
                        }
                        if (selections.length > 1) {
                            toastr.error('只能选择一条要编辑的数据字典');
                            return false;
                        }
                        $("#updateDetailForm").formSerialize(selections[0]);
                    });

                    $('#btnSaveUpdateDetailForm').click(function () {
                        if (!$('#updateDetailForm').formValid()) {
                            return false;
                        }
                        var data = $('#updateDetailForm').formSerialize();
                        _.post(apiUrl + '/api/DictionaryDetail/Update', data, function (data) {
                            if (data.code == 0) {
                                methods.bindDictionaryDetails(id);
                                toastr.success(data.message);
                            } else {
                                toastr.error(data.message);
                            }
                        });
                    });

                    $('#btnSaveAddDetailForm').click(function () {
                        if (!$('#addDetailForm').formValid()) {
                            return false;
                        }
                        var data = $('#addDetailForm').formSerialize();
                        data['TypeId'] = id;
                        _.post(apiUrl + '/api/DictionaryDetail/Add', data, function (data) { 
                            if (data.code == 0) {
                                methods.bindDictionaryDetails(id);
                                toastr.success(data.message);
                            } else {
                                toastr.error(data.message);
                            }
                        })
                    });

                    $('#btnDelete').click(function () {
                        var selections = $('#bootstrapTable').bootstrapTable('getSelections');
                        if (selections.length <= 0) {
                            toastr.error('请选择要删除的字典详情');
                            return false;
                        }
                        var data = '';
                        for (var i = 0; i < selections.length; i++) {
                            data += selections[i].id + ',';
                        }
                        _.get(apiUrl + '/api/DictionaryDetail/Delete?idStr=' + data, function (data) {
                            if (data.code == 0) {
                                methods.bindDictionaryDetails(id);
                                toastr.success(data.message);
                            } else {
                                toastr.error(data.message);
                            }
                        })
                    });
                }
            }
        }();
        window.onload = function () {
            viewModel.init();
        }
    </script>
}
