
@{
    ViewData["Title"] = "数据字典";
}
<body class="gray-bg">



    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>数据字典 <small>数据字典类型</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div id="jstree">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>操作</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div id="using_json"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@section scripts{
    <script>
        var viewModel = function () {
            return {
                init: function () {
                    this.initPage();
                },
                methods: {
                    loadDictionaryTypes: function () {
                        bindJsTree('jstree', apiUrl + '/api/DictionaryTypes');
                        $('#jstree').on("changed.jstree", function (e, data) {
                            var id = data.node.id;
                            toastr.error(id);
                        });
                    }
                },
                initPage: function () {
                    var methods = this.methods;
                    methods.loadDictionaryTypes();
                }
            }
        }();
        window.onload = function () {
            viewModel.init();
        }
    </script>
}
